@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.profilePic {
    height:10em;
    width: 10em;
    padding-top: 2em;
    padding-left: 400px;
}

.userIconAvatar {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 400px;

}

.profileInfo {
    display:flex;
}

.username {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding-top: 2.3em;
    padding-left: 3em;
    padding-right:2em;
    color:rgba(19, 18, 18, 0.692);
}

.follow {
    padding-top:2em;
    padding-left:4.5em;
    font-family: 'Open Sans', sans-serif;
    color:rgba(19, 18, 18, 0.692);

}
