@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.postLayout {
    background-color: white;
    max-width: 900px;
    min-width: 900px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.postlayout_image{
    width:100%;
    height:auto;
    object-fit: contain; 
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.postlayout_caption{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 2em;
    
}

.postLayout_header{
    display: flex;
    align-items: center;
    padding: 20px;
    color:rgb(75, 72, 72);
    font-family: 'Open Sans', sans-serif;
}

.postLayout_avatar{
    margin-right: 10px;
    background-color: rgb(190,230,238);
    color:gray;

}

.postlayout_timestamp{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 150;
    margin-left: 20px;
    padding-bottom: 10px;
}

.postlayout_commentbox{
    display: flex;
    margin-top: 10px;
}

.postlayout_input{
    flex: 1;
    border: none;
    border-top: 1px solid lightgray;
}

.postLayout_button{
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
}

.postlayout_comments{
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    
}

.timestampUI {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: 'center';
}

.postLayout_singlecomment{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}
.postlayout_commenttimestamp{
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 13px;
    padding-right: 2em;
    max-width:100ch;
    display: inline-block;
    word-wrap: break-word;
}

.inLine {
    display:flex;
    justify-content: space-between;
}

.name {
    font-variant: small-caps;
    font-size: 20px;
    padding-right: 0.5em;
    
}

.captionAndTime {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1em;
}