.textHyperlink{
    color: rgb(61, 59, 59);
    margin-left: 90px;
    margin-right: 10px;
    margin-top:20px;
}

.signInHyperlink {
    color: rgb(114, 165, 231);
    font-weight: bold;
    margin-top:20px;
    padding-bottom: 2em;
}

.boxColor {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 70px;

}