.boxColor {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 70px;

}

.signUpTextLayout {
    color: rgb(61, 59, 59);
    margin-left: 70px;
    margin-right: 10px;
    margin-top:20px;
}

.signUpHyperlink {
    color: rgb(114, 165, 231);
    font-weight: bold;
    margin-top:20px;
}
video {
    object-fit:cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    /*background: url('images/img-home.jpg') center center/cover
    no-repeat;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
    object-fit: contain;
}

.hero-container > h1 {
    color: #fff;
    margin-left: -700px;
    padding-top: 250px;
    padding-bottom: 0px;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

.hero-container > p {
    color: #fff;
    margin-left: -300px;
    padding-top: 0px;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.hero-content {
    display: flex;
    padding-top: 100px;
    align-items: center; 
}

.hero-header {
    margin-right: 30px;
    color: #fff;
    margin-left: -200px;
    padding-right: 150px;
    padding-bottom: 0px;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signIn-form {
    margin-top: 100px;

}

.signInText {
    color: grey;
}

.logo {
    padding-right: 11em;
    padding-top:3em;
}