.uploadPicIcon {
    color: rgb(214, 160, 155);
    margin-bottom: 0.2em;
     
}

.modalText {
    padding-bottom : 2.5em;
    padding-right: 18em;
}

.uploadFormStyle {
    padding-bottom: 5em;
}

.uploadButton {
    color: rgb(214, 160, 155);
}